# repo
/e2e/
/node_modules/
/Play/
/tests-examples/
user.js


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
