/node_modules/
user.js
package-lock.json
/test-results/
.DS_Store
tests-examples/
e2e/
package-lock.json/
playwright-report/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
